<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCHibernateTest:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="StoreSpringMVC.war">
      <element id="artifact" artifact-name="SpringMVCHibernateTest:war exploded" />
    </root>
  </artifact>
</component>